*,
*::after,
*::before{
  box-sizing: border-box;
}



:root{
  font-size: 16px;
  --heading-font-size: 0.8rem;
}
h1, h2, img, div, body, svg{
  margin: 0;
  padding: 0;
}

body, .body-wrapper{
  overflow-x: hidden;
  font-family: 'Rajdhani', sans-serif;
}

.primary-header{
  position: sticky;
  z-index: 100;
}

.logo-name{
  position: absolute;
  z-index: 100;
  width: 100vw;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-5%);
  
}

.logo-name .logo{
  width: 3.5rem;
  padding-right: clamp(0.2rem, 1vw, 0.5vw);
}

.logo-name img{
  width: 100%;
}

.logo-name .name{
  font-size: var(--heading-font-size);
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgba(0, 0, 0);
  transform: scale(1.2);
  padding-left: 22px;
}

.logo-name .first-name{
  letter-spacing: 1.45px;
  margin: 0 0 5px 2.4vw;
  transform: scale(1.4, 1.5);
}

.logo-name .second-name{
  transform: scale(1.2, 1.5);
  margin: 0 0 0 0.1vw;
}



@media only screen and (min-width: 900px) {
  .logo-name .second-name{
    transform: scale(1.07, 1.5);
    margin: 0 0 0 0.5vw;
  }        
}



/*NAVIGATION BAR*/
a{
  text-decoration: none;
  color: white;
}

.mobile-nav-toggle{
  position: absolute;
  right: 0.1rem;
  top: 0.5rem;
  z-index: 9999;
  
  border: none;
  width: 2rem;
  height: 1.7rem;
  background: url(../images/hamburger.png);
  background-repeat: no-repeat;
  background-size: 1.7rem;
}


.mobile-nav-toggle[aria-expanded="true"]{
  background: url(../images/cross.png);
  background-size: 1.7rem;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 900px) {
  .mobile-nav-toggle{
    background-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    width: 3rem;
    height: 5rem;
  }
  
  .mobile-nav-toggle[aria-expanded="true"]{
    background-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    width: 3rem;
    height: 5rem;
  }
}



.navigation{
  color: white;
  position: absolute;
  inset: 0  0  0 0;
  z-index: 200;
  height: 100vh;
  
  padding: 30px 30px;
  transition: transform 250ms ease-in;
  transform: translatey(-100%);
}

.navigation{
  background: hsla(234, 75%, 49%, 0.356);
  backdrop-filter: blur(0.5rem);
}


.navigation[data-visible="true"]{
  transform: translateX(0%);
}


.primary-navigation{
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.primary-navigation button{
  width: 100vw;

  color: white;
  border: none;
  background-color: transparent;
  text-align: start;
  font-size: 1.5rem;
  cursor: pointer;
}


@media only screen and (min-width: 900px) {
  :root{
    font-size: 30px;
  }
}




/* Pre loader */
.center{
  position: fixed;
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.ring{
  position: fixed;
  inset: 30% 0% 0 43%;
  z-index: 99999;  
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}


span{
  font-family: Calibri;
  position: fixed;
  font-weight: 900;
  inset: 30% 0% 0 45%;
  z-index: 99999;
  color: #737373;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50%{
    color: black;
  }
}

/* for mobile  preloader*/

@media only screen and (max-width: 480px) {
  .ring{
    inset: 35vh 0 0 25vw;
  }

  span{
    font-size: 1.5rem;
    inset: 35vh 0% 0 35vw;
  }
}
